
<div class="container-favourites">
  <h1>Favourites</h1>
  <%  a = @favourites.map do |favourite| %>
    <% favourite.charity %>
  <% end %>
    <%= render 'shared/charity_card', charities: a %>
</div>


<h1>History</h1>
  <div class="container-history">
    <% @donations.reverse.each do |donation| %>
      <div class="history-card">
       | <%= donation.created_at.to_date %> |
        <%= donation.charity.name %>
        <%= donation.asset.stock_symbol %> |
        <%= donation.quantity %> |
        <%= donation.donation_amount %> |
        <%= donation.order_status %> |
      </div>
    <% end %>
  </div>
