
<div class="container-favourites">
  <h1>Your Favourite Charitys</h1>
  <%  favchar = @favourites.map do |favourite| %>
    <% favourite.charity %>
  <% end %>
  <% if favchar.empty? %>
    <p> Here you can add your favourite charities </p>
  <% else %>
    <div class="px-5 pt-5 mt-5">
      <div class="row px-1 pb-5 justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% favchar.each do |charity| %>
              <% if favchar.first == charity %>
                <div class="carousel-item active">
              <% else %>
                <div class="carousel-item">
              <% end %>
                <div class="pb-5 col-sm-6 col-md-4">
                  <div class="d-block border charity-card-container">
                    <% if user_signed_in? %>
                      <div class="heart-icon">
                        <% if !@favourites.find_by(charity_id: charity.id).nil? %>
                          <% @favourite = @favourites.find_by(charity_id: charity.id)  %>
                          <%= render "shared/fav_button" %>
                        <% else %>
                          <%= link_to favourites_path(charity_id: charity.id), method: :post, :class=> "you_class" do %>
                          <i class="far fa-heart" aria-hidden="true" target="_blank"></i>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <div>
                      <%= link_to charity_path(charity) do %>
                        <div class="charity-logo">
                          <%= cl_image_tag charity.photo.key, height: 171, width: 222, crop: :pad %>
                        </div>
                        <div class="charity-text-box">
                          <div class="header-3">
                            <%= charity.name %>
                          </div>
                          <div class="category pt-3">
                            <%= charity.category %>
                          </div>
                        </div>
                        <div class="donation">
                          Donate
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </div>
  <% end %>
</div>


<h1>Your History</h1>
<div class="container-history">
  <div class="wrap-table100">
    <div class="tablever1">
      <table>
        <thead>
          <tr class="table-header">
            <th>Date</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="tablebody">
          <% @donations.reverse.each do |donation| %>
          <tr class="tabledata">
            <td><%= donation.created_at.to_date %></td>
            <td><%= donation.charity.name %></td>
            <td><%= donation.asset.stock_symbol %></td>
            <td><%= donation.quantity %></td>
            <td><%= donation.donation_amount %></td>
            <td><%= donation.order_status %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


