<div class="navbar navbar-transparent navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dnikk3d1u/image/upload/v1606397727/LGT_full_logo_V7_c5ng1p.svg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Charities", "/charities", class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Dashboard", "/dashboard", class: "nav-link" %>
        </li>

        <li>
          <%= link_to "log-out", destroy_user_session_path, method: :delete, class: "nav-link log" %>
        </li>
        <li class="nav-item flex">
          <%= link_to charities_path, :class=> "you_class" do %><i class="fa fa-search fa-2x" aria-hidden="true" target="_blank"></i><% end %>  %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link log" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

