<% @choices.each do |choice| %>
  <div class="stock-card-container mb-5">
    <div class="stock-description-box">
        <div class="stock-description">
        <%= choice.asset.description %>
        <p><%= money_format(@bars[choice.asset.stock_symbol][0].close) %> €</p>
        </div>
    </div>
    <div class="stock-type">
      <div class="icon-stock-type">
        <% if choice.asset.asset_type == 'Stock' %>
          <i class="fas fa-file-contract"></i>
        <% else choice.asset.asset_type == 'ETF' %>
          <i class="fas fa-layer-group"></i>
        <% end %>
      <%= choice.asset.asset_type %>
      </div>
    </div>
    <div class="header-stock-symbol">
      <%= choice.asset.stock_symbol %>
    </div>
    <div>
      
    </div>
    <%= link_to new_charity_donation_path(charity_id: choice.charity.id, asset_id: choice.asset.id) do %>
        <div class="donation-btn">
            <div class="donate-text">
            Donate
            </div>
        </div>
    <% end %>
    <%= render 'shared/info_btn', choice: choice %>
  </div>
<% end %>