<!-- bannersection  -->
<div class="wrapper">
  <div class="container-fluid first flex" >
    <div class="animation">
      <div class="search-field">
        <%= form_tag charities_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your charity!"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s1" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s2" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s3" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s4" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s5" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s6" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s7" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s8" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s9" %>
    </div>
  </div>


  <div class="container-fluid second inner flex">
    <div>
      <p>- Problem: Charities need to spend most on their ressources on fundraising</p>
      <br>
      <p>- We want more Charities, but the competition for Attention drives cost up for everybody</p>
      <br>
      <p>- By donating an asset forever, instead of repeated donations to smooth out the charities fundraising</p>
      <br>
      <p>- By having a predictable income-stream charities can concentrate on what they do best</p>
    </div>
  </div>

  <div class="container-fluid third inner flex">

    <div class="container flex">
      <div class="border charity-card-container ">
        <div class="charity-logo">
        <% charity = Charity.find_by(name: "Junior Achievement of New York") %>
           <%= cl_image_tag charity.photo.key, height: 171, width: 222, crop: :pad %>
        </div>
        <div class="charity-text-box">
          <div class="header-3">
            <%= charity.name %>
          </div>
          <div class="category pt-3">
            <%= charity.category %>
          </div>
        </div>
      </div>
      <div class="container example">
       <h2>On of our Partner Charities:</h2>
      <h4>The JA of New York uses equity founding to specifically combat systemic education inequality and deeply rooted issues that can not simply be resolved by a short-term project.</h4>
        <p>Donations received over the Long Term Giving platform will directly benefit a permanently open workshop were children from challenged backgrounds can experience an uplifting and save the atmosphere.  Here the children have access to a wide array of different learning-mediums, information regarding education paths and scholarships and can partake in frequent contests, that cherish learning, succeeding and not giving up.</p>
        <p>The contest range from Spelling Bees, over hackatons to Integration Bees and are open for all local contestants of all grades. </p>
      </div>
      </div>
    </div>
  </div>
</div>











