<!-- bannersection  -->

<div class="wrapper">
  <div class="container-fluid first inner flex" >
    <div class="animation">
      <div class="search-field">
        <%= form_tag charities_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your charity!"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>

      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s1" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s2" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s3" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s4" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s5" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s6" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s7" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s8" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s9" %>

      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s10" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s11" %>
      <%= cl_image_tag "Vektor/Vector_2_m74hmm", :class => "animation-swing s12" %>

    </div>
  </div>
    </div>
  </div>
</div>
  <a class="arrow-button" id="arrow">
    <%= image_tag "https://res.cloudinary.com/dnikk3d1u/image/upload/v1606823562/homepage/arrow_c7qeee.svg" %>
  </a>

  <div class="container-fluid second inner flex ">

      <div class="container-fluid mt-5">
        <h3 class="hidden">explanation why charity bad</h3>
        <p class="hidden">Charities are in a viscious cycle of raising funds, which they then have to spend to a large part on the next years fund-raising.</p>
      </div>
      <div class="container-fluid mt-4">
        <%= image_tag "https://res.cloudinary.com/dnikk3d1u/image/upload/v1606752553/homepage/long_term_funding_a5wuxf.png", class: "hidden" %>
      </div>


  </div>

  <div class="container-fluid third inner flex hidden">

    <div class="container flex">
      <div class="border charity-card-container hidden">
        <div class="charity-logo">
        <% charity = Charity.find_by(name: "Junior Achievement of New York") %>
           <%= cl_image_tag charity.photo.key, height: 171, width: 222, crop: :pad %>
        </div>
        <div class="charity-text-box">
          <div class="header-3">
            <%= charity.name %>
          </div>
          <div class="category pt-3">
            <%= charity.category %>
          </div>
        </div>
      </div>
      <div class="container example">
       <h2>On of our Partner Charities:</h2>
      <h4>The JA of New York uses equity founding to specifically combat systemic education inequality and deeply rooted issues that can not simply be resolved by a short-term project.</h4>
        <p>Donations received over the Long Term Giving platform will directly benefit a permanently open workshop were children from challenged backgrounds can experience an uplifting and save the atmosphere.  Here the children have access to a wide array of different learning-mediums, information regarding education paths and scholarships and can partake in frequent contests, that cherish learning, succeeding and not giving up.</p>
        <p>The contest range from Spelling Bees, over hackatons to Integration Bees and are open for all local contestants of all grades. </p>
      </div>
      </div>
    </div>
  </div>

  <div class="container fourth flex-column inner hidden">
    <div class="flex border-bottom half ">
      <div class="container-fluid mt-4 hidden">
       <h3 class="hidden">why our platform good</h3>
       <p class="hidden">With our platform you can donate just as easy but twice as smart.</p>
      </div>
        <div class="container-fluid mt-4 hidden">
          <%= image_tag "https://res.cloudinary.com/dnikk3d1u/image/upload/v1606833102/homepage/Easy_solution_piuire.png", class: "hidden" %>
        </div>
    </div>
    <div class="flex half">
      <h3 class="p-2 text-center">What happens behind the scenes</h3>
      <div class="p-2 smaller">
        <%= image_tag "https://res.cloudinary.com/dnikk3d1u/image/upload/v1606752744/homepage/Complited_Solution_mptnom.png", class: "hidden" %>
      </div>
    </div>
</div>











