<div class="viewheight">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 col-sm-offset-4">
        <div class="form-login">
          <br>
          <h2 class="text-center">How many Assets do you want to donate?</h2>
          <br>
          <!-- Insert form here -->
          <script src="https://js.stripe.com/v3/"></script>
          <div id="stripe-data" data-checkout-session-id="" class="d-none">
            <button id="pay"></button>
          </div>
          <script>
              const paymentButton = document.getElementById('pay');
              paymentButton.addEventListener('click', () => {
                const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                const sessionId = document.getElementById("stripe-data").dataset.checkoutSessionId
                stripe.redirectToCheckout({
                    sessionId: sessionId
                });
              });
          </script>

          <%= simple_form_for([@charity, @donation], remote: true) do |f| %>
            <div class="form-inputs text-gray">
              <span>current price/asset:</span>
              <br>
              <strong><span id='currentAssetPrice' class="d-none"><%= @price %></span><%= money_format(@price) %>€</strong>
              <br>
              <br>
              <%= f.input :quantity, input_html: { min: 1, value: 1 } %>
              <%= f.input :asset_id, as: :hidden, :input_html => { :value => @asset.id } %>
              <%#= f.input :donation_amount %>
              <br>
              <h3>total:</h3>
              <h2 id="totalerPrice"> <%= money_format(@price) %>€ </h2>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Donate", class: "btn-custom-donation" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
