<%= link_to charities_path do %>
  <%= render 'shared/back_btn' %>
<% end %>
<%#= link_to 'Donate', new_charity_donation_path([@charity, @donation]) %>
<div class="container mt-5", style="width: 80vw">
<div class="row mb-5  ">
  <div class="col-sm-12 col-lg-4 ">
    <%= cl_image_tag @charity.photo.key, height: 320, width: 350, crop: :pad, class: 'carity-show-img' %>
  </div>
  <div class="col-sm-12 col-lg-8">
    <div class="charity-show-name">
      <%= @charity.name %>
    </div>
    <br>
    <div class="carity-show-category my-2">
      <%= @charity.category %>
    </div>
    <br>
    <div class="carity-show-paragraph">

      
    </div>
    <div class="container">
      <input id="ch" type="checkbox" class="showmore_input">
      <label for="ch" class="showmore"></label>
      <div class="text"><%= sanitize @charity.description %></div>
    </div>
  </div>
</div>
  <%# still need to connect the closing numbers to the choices%>
  <div class="charity-show-coices">
    <h2 class="my-4">Charity's Choices:</h2>
    <%= render 'shared/stock_card' %>
    <%if !@choices[0].nil? %>
      <% @bars.each do |key, value|  %>
      <%#= p key, value %>
        <%#= value[0].close %>
      <% end  %> 
    <% end %>
  </div>
</div>