<%= link_to charities_path do %>
  <%= render 'shared/back_btn' %>
<% end %>
<br>
<%#= link_to 'Donate', new_charity_donation_path([@charity, @donation]) %>
<br>
<h3><%= @charity.name %></h3>
<br>
<h4><%= @charity.category %></h4>
<br>
<%= cl_image_tag @charity.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<p><%= @charity.description %></p>
<br>
<br>
<h2>Charity's Choices:</h2>
<br>
  <%= render 'shared/stock_card' %>
<%# still need to connect the closing numbers to the choices%>
<% @bars.each do |key, value|  %>
  <%= value[0].close %>
  <% end  %> 

