  <!DOCTYPE html>
<html>
  <head>
    <title>Longtermgiving - Give Growth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content="https://res.cloudinary.com/dnikk3d1u/image/upload/c_mpad,h_630,w_1200/v1606914022/homepage/tim-marshall-cAtzHUz7Z8g-unsplash_qynehf.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dnikk3d1u/image/upload/v1606915172/Logo/Logo-img_jz3jin.svg" />

    <meta property="og:title" content="Donate Smarter with LTG" />
    <meta property="og:description" content="Change the way you donation to change the way charities operate" />
    <meta property="og:image" content="https://res.cloudinary.com/dnikk3d1u/image/upload/v1606752553/homepage/long_term_funding_a5wuxf.png" />
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
